.App {
  /*text-align: center;*/
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  border: 1px solid grey;
  width: 500px;
  /*height: 520px;*/
  justify-content: center;
  flex-flow: wrap;
  display: flex;
  border-radius: 10px;
}
.container h2 {
  color: #498FE1;
}

.container label {

  /*transition: color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
}

.form {
  width: 100%;
}

.inputContainer {
  padding: 25px;
}

.input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid grey;
  width: 95%;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.error {
  color: #E55759;
  /*box-shadow: inset 168px 0 0 0 #498FE1;*/
  /*transition: box-shadow 2s ease-in-out;*/
  /*transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
}

.nextContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
  padding: 10px;
  border-top: 1px solid grey;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  padding: 10px;
  border-top: 1px solid grey;
}

.button {
  background: none;
  color: #498FE1;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 10px;
}

.back.button {
  color: grey;
}

.last.button {
  border: 1px solid #498FE1;
  border-radius: 5px;
  margin-left: 25px;
  padding: 15px;
}

.middlePage {
  text-align: center;
}

.middlePage input {
  height: 40px;
  text-align: center;
  box-shadow: none;
  border: 1px solid grey;
  outline: none;
}

.middlePage input:nth-child(2) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.middlePage input:nth-child(3) {
  border-radius: 0;
}
.middlePage input:nth-child(4) {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.middlePage label, .middlePage span {
  margin: 10px 0 10px 0;
  display: block;
}

.middlePage select {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  outline: none;
}

.middlePage>div {
  margin-bottom: 25px
}

.success {
  display: block;
  height: 200px;
  width: 200px;
  opacity: 0.7;
  margin: 20px auto 30px auto;
}

.lastPageContainer {
  display: block;
  margin: 30px auto 57px auto;
}